# DIC LAB 2 Problem 2 A: Extract Data : European Soccer Data

Define all the libraries which needs to be set for operations here

In [1]:
library("XML")
library("methods")
library("dplyr")
library("tidyr")

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Define the database name

In [2]:
dbName = toString("database.sqlite")

Connect to the database

In [3]:
my_db <- src_sqlite(dbName, create = FALSE)

Query the Player table

In [4]:
playerTable = tbl(my_db, sql("SELECT player_api_id,player_name FROM Player"))

Query the Player Attributes table

In [5]:
playerAttrTable = tbl(my_db, sql("SELECT player_api_id,overall_rating,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes FROM Player_Attributes"))

Add the gk_rating field to the table using mutate and gk fields

In [6]:
playerAttrTable = mutate(playerAttrTable, gk_rating = (gk_diving + gk_handling + gk_kicking + gk_positioning + gk_reflexes))

Group all the players by their id and find the different max ratings

In [7]:
playerAttrTable = playerAttrTable %>% 
    group_by(player_api_id) %>%
    summarize(overall_rating = max(overall_rating), gk_rating = max(gk_rating))

Print the table content

In [8]:
playerAttrTable

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id overall_rating gk_rating
           <int>          <int>     <int>
1           2625             63       153
2           2752             72        53
3           2768             75       128
4           2770             74       148
5           2790             73       144
6           2796             69       340
7           2802             82       146
8           2805             76       141
9           2857             72       143
10          2862             76       146
# ... with more rows

Left Join the tables by player id

In [9]:
playerData = left_join(playerTable, playerAttrTable, by = "player_api_id")

Print the data after join

In [10]:
playerData

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id        player_name overall_rating gk_rating
           <int>              <chr>          <int>     <int>
1         505942 Aaron Appindangoye             67        43
2         155782    Aaron Cresswell             74       121
3         162549        Aaron Doran             71       125
4          30572      Aaron Galindo             75       111
5          23780       Aaron Hughes             78       129
6          27316         Aaron Hunt             79       132
7         564793         Aaron Kuhl             61        64
8          30895       Aaron Lennon             84       146
9         528212       Aaron Lennox             48       237
10        101042      Aaron Meijers             69        54
# ... with more rows

Query the Match table

In [11]:
matchTable = tbl(my_db, sql("SELECT league_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11 FROM Match"))

Group the Match table based on the player id

In [12]:
playerMatchDataTable = gather(tbl_df(matchTable), players, player_api_id, home_player_1 : away_player_11)

Group the players based on their id and summarize the attributes

In [13]:
playerMatchesDF = playerMatchDataTable %>% 
    group_by(player_api_id) %>%
    summarize(appearances = n(),league_appearances = n_distinct(league_id))

Print the data

In [14]:
playerMatchesDF

      player_api_id appearances league_appearances
1     2625           90         1
2     2752           81         1
3     2768           71         1
4     2770           16         2
5     2790           50         1
6     2796            1         1
7     2802          144         2
8     2805          131         1
9     2857            3         1
10    2862           17         1
11    2907            6         1
12    2973           16         1
13    2977            5         1
14    2983           71         1
15    2984           38         1
16    3140           42         1
17    3204           42         1
18    3263           19         1
19    3264            1         1
20    3316            6         1
21    3329           85         1
22    3377            1         1
23    3441           74         1
24    3512            4         1
25    3517           17         1
26    3520           70         1
27    4747           36         1
28    4863           25         1
29    4902           68         1
30    4939           97         1
⋮     ⋮             ⋮           ⋮
11032 703659            1        1
11033 704523            4        1
11034 705484            4        1
11035 706985            2        1
11036 710807            1        1
11037 715642            1        1
11038 716998            1        1
11039 717248            4        1
11040 717270            1        1
11041 717557            4        1
11042 719413            3        1
11043 720738            5        1
11044 721133           15        1
11045 722766           13        1
11046 723037            7        1
11047 725718            1        1
11048 726956            4        1
11049 728125            2        1
11050 728414            1        1
11051 728478            1        1
11052 730065            1        1
11053 733787            2        1
11054 742405            1        1
11055 743720            1        1
11056 744907            1        1
11057 746419            2        1
11058 748432            2        1
11059 750435            1        1
11060 750584            1        1
11061     NA        29257       11

Join the two tables now based on the player id

In [15]:
playersFinalData = left_join(tbl_df(playerData), playerMatchesDF, by = "player_api_id")

Print the data

In [16]:
head(playersFinalData,n=10)

   player_api_id player_name        overall_rating gk_rating appearances
1  505942        Aaron Appindangoye 67              43         8
2  155782        Aaron Cresswell    74             121        75
3  162549        Aaron Doran        71             125       104
4   30572        Aaron Galindo      75             111        10
5   23780        Aaron Hughes       78             129       162
6   27316        Aaron Hunt         79             132       158
7  564793        Aaron Kuhl         61              64         5
8   30895        Aaron Lennon       84             146       181
9  528212        Aaron Lennox       48             237         1
10 101042        Aaron Meijers      69              54       167
   league_appearances
1  1
2  1
3  1
4  1
5  1
6  1
7  1
8  1
9  1
10 1

Query the Team table

In [17]:
teamTable = tbl(my_db, sql("SELECT team_api_id,team_long_name FROM Team"))

Query the Team attribute table

In [18]:
teamAttrTable = tbl(my_db, sql("SELECT team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth FROM Team_Attributes"))

Add the extra fields using different tables

In [19]:
teamAttrTable = mutate(teamAttrTable, chance_creation = (chanceCreationPassing + chanceCreationCrossing + chanceCreationShooting), build_up_play =(buildUpPlaySpeed +buildUpPlayDribbling+buildUpPlayPassing), defense = (defencePressure+defenceAggression+defenceTeamWidth))

Group the team table based on the team id and max Values

In [20]:
teamAttrTable = teamAttrTable %>% 
    group_by(team_api_id) %>%
    summarize(chance_creation = max(chance_creation), build_up_play = max(build_up_play), defense = max(defense))

Print the data

In [21]:
teamAttrTable

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id chance_creation build_up_play defense
         <int>           <int>         <int>   <int>
1         1601             186           139     175
2         1773             157           153     137
3         1957             163           158     210
4         2033             165           147     155
5         2182             196           176     160
6         2183             180            NA     175
7         2186             168           125     205
8         4087             180           156     165
9         4170             165            NA     200
10        6269             172           179     151
# ... with more rows

Join the two tables into one

In [22]:
teamTableData = left_join(teamTable, teamAttrTable, by = "team_api_id")

Print the data

In [23]:
teamTableData

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id    team_long_name chance_creation build_up_play defense
         <int>             <chr>           <int>         <int>   <int>
1         9987          KRC Genk             182           148     205
2         9993      Beerschot AC             185            NA     210
3        10000  SV Zulte-Waregem             153           147     200
4         9994  Sporting Lokeren             154           159     200
5         9984 KSV Cercle Brugge             200           145     195
6         8635    RSC Anderlecht             182           149     190
7         9991          KAA Gent             184           142     166
8         9998         RAEC Mons             168           160     138
9         7947     FCV Dender EH              NA            NA      NA
10        9985 Standard de Liège             182           161     205
# ... with more rows

Group the teams based on the two given ids

In [24]:
teamMatchDataTable = gather(tbl_df(matchTable), team, team_api_id, home_team_api_id,away_team_api_id)

Find the gilas scored by the home team

In [25]:
homeTeamGoals = gather(tbl_df(matchTable), team, team_api_id, home_team_api_id) %>% 
    group_by(team_api_id) %>%
    summarize(homeGoals = sum(home_team_goal))

Print the data

In [26]:
head(homeTeamGoals,n =10)

   team_api_id homeGoals
1  1601        148
2  1773         74
3  1957        176
4  2033         70
5  2182        215
6  2183         96
7  2186        144
8  4049         22
9  4064         13
10 4087        105

Group the teams based on the id's for away teams

In [27]:
awayTeamGoals = gather(tbl_df(matchTable), team, team_api_id, away_team_api_id) %>% 
    group_by(team_api_id) %>%
    summarize(awayGoals = sum(away_team_goal))

Join the teams based on the goals when playing as away and home team

In [28]:
teamGoalsData = full_join(awayTeamGoals,homeTeamGoals) %>%  mutate(goals = (awayGoals+homeGoals))

Joining, by = "team_api_id"

Print the data

In [29]:
teamGoalsData

    team_api_id awayGoals homeGoals goals
1   1601        132       148       280
2   1773         52        74       126
3   1957        111       176       287
4   2033         68        70       138
5   2182        157       215       372
6   2183         88        96       184
7   2186         91       144       235
8   4049         13        22        35
9   4064         14        13        27
10  4087         75       105       180
11  4170         12        19        31
12  6269         15        19        34
13  6351         13        15        28
14  6367          8        19        27
15  6391         14        23        37
16  6403        126       166       292
17  6413         80       124       204
18  6421         20        35        55
19  6433         33        41        74
20  6493         54        74       128
21  6547         12        17        29
22  6601         11        27        38
23  6631          9        15        24
24  7730         47        52        99
25  7788         52        67       119
26  7794         64       101       165
27  7819        111       109       220
28  7841        117       131       248
29  7842         71        96       167
30  7844        144       156       300
⋮   ⋮           ⋮         ⋮         ⋮
270  10214      145       187       332
271  10215      104       136       240
272  10217      162       204       366
273  10218       64        90       154
274  10219       61        92       153
275  10228      203       267       470
276  10229      213       279       492
277  10233      143       249       392
278  10235      198       291       489
279  10238      103       135       238
280  10242       33        38        71
281  10243      227       241       468
282  10249      151       193       344
283  10251      123       136       259
284  10252      156       179       335
285  10260      244       338       582
286  10261      125       199       324
287  10264      159       239       398
288  10265      164       168       332
289  10267      185       299       484
290  10268       33        32        65
291  10269      196       219       415
292  10278        9        27        36
293  10281       76        94       170
294 108893        7        14        21
295 158085       45        56       101
296 177361       12        21        33
297 188163       19        15        34
298 208931       14        23        37
299 274581       30        41        71

Join the tables to make a full team table

In [30]:
teamFinalData = left_join(tbl_df(teamTableData),teamGoalsData,by = "team_api_id")

Print the data

In [31]:
head(teamFinalData,n=10)

   team_api_id team_long_name    chance_creation build_up_play defense
1   9987       KRC Genk          182             148           205
2   9993       Beerschot AC      185              NA           210
3  10000       SV Zulte-Waregem  153             147           200
4   9994       Sporting Lokeren  154             159           200
5   9984       KSV Cercle Brugge 200             145           195
6   8635       RSC Anderlecht    182             149           190
7   9991       KAA Gent          184             142           166
8   9998       RAEC Mons         168             160           138
9   7947       FCV Dender EH      NA              NA            NA
10  9985       Standard de Liège 182             161           205
   awayGoals homeGoals goals
1  143       205       348
2   62       112       174
3  130       176       306
4  130       149       279
5   94       119       213
6  180       247       427
7  177       213       390
8   53        76       129
9   23        21        44
10 142       199       341

Write the player data to a csv file

In [32]:
write.csv(playersFinalData, file = "player.csv",row.names=FALSE)

Write the team data to a csv file

In [33]:
write.csv(teamFinalData, file = "team.csv",row.names=FALSE)

# References

1. https://cran.r-project.org/web/packages/dplyr/dplyr.pdf
2. https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html
3. https://cran.r-project.org/web/packages/dplyr/vignettes/two-table.html
4. https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html
5. https://blog.rstudio.org/2014/07/22/introducing-tidyr/
6. https://rpubs.com/bradleyboehmke/data_wrangling
7. https://rdrr.io/cran/dplyr/man/join.tbl_sql.html
8. http://stat545.com/bit001_dplyr-cheatsheet.html