# DIC LAB 2 Problem 2 B : Repurpose Data : European Soccer Data

In [25]:
library("XML")
library("methods")
library("dplyr")
library("tidyr")

Read the player data

In [26]:
playersFinalData <- read.csv(file="player.csv", header=TRUE, sep=",")

Read the team data

In [27]:
teamFinalData <- read.csv(file="team.csv", header=TRUE, sep=",")

Display the data

In [28]:
head(playersFinalData)

  player_api_id player_name        overall_rating gk_rating appearances
1 505942        Aaron Appindangoye 67              43         8
2 155782        Aaron Cresswell    74             121        75
3 162549        Aaron Doran        71             125       104
4  30572        Aaron Galindo      75             111        10
5  23780        Aaron Hughes       78             129       162
6  27316        Aaron Hunt         79             132       158
  league_appearances
1 1
2 1
3 1
4 1
5 1
6 1

Display the data

In [29]:
head(teamFinalData)

  team_api_id team_long_name    chance_creation build_up_play defense awayGoals
1  9987       KRC Genk          182             148           205     143
2  9993       Beerschot AC      185              NA           210      62
3 10000       SV Zulte-Waregem  153             147           200     130
4  9994       Sporting Lokeren  154             159           200     130
5  9984       KSV Cercle Brugge 200             145           195      94
6  8635       RSC Anderlecht    182             149           190     180
  homeGoals goals
1 205       348
2 112       174
3 176       306
4 149       279
5 119       213
6 247       427

Qn) Which are the top 10 players by overall rating?

In [30]:
topPlayer = tbl_df(playersFinalData) %>% select(player_name,overall_rating) %>% top_n(10) %>% arrange(desc(overall_rating))

Selecting by overall_rating

In [31]:
head(topPlayer,n=10)

   player_name       overall_rating
1  Lionel Messi      94
2  Cristiano Ronaldo 93
3  Gianluigi Buffon  93
4  Wayne Rooney      93
5  Gregory Coupet    92
6  Xavi Hernandez    92
7  Alessandro Nesta  91
8  Andres Iniesta    91
9  Fabio Cannavaro   91
10 Iker Casillas     91

Qn) Which are the top 10 goalkeepers by sum of gk attributes?

In [32]:
topGoalKeeper = tbl_df(playersFinalData) %>% select(player_name,gk_rating) %>% top_n(10) %>% arrange(desc(gk_rating))

Selecting by gk_rating

In [33]:
head(topGoalKeeper,n=10)

   player_name       gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

Qn) Which are the top 10 players by number of appearances (with any team they played with)?

In [34]:
topAppearances = select(playersFinalData,player_name,appearances) %>% top_n(10) %>% arrange(desc(appearances))

Selecting by appearances

In [35]:
head(topAppearances,n=10)

   player_name          appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

Qn) Which are the top 10 players by number of leagues they played in?

In [36]:
topLeagueAppearances = select(playersFinalData,player_name,league_appearances) %>% top_n(10) %>% arrange(desc(league_appearances))

Selecting by league_appearances

In [37]:
head(topLeagueAppearances,n=10)

   player_name           league_appearances
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

Qn) Which are the top 10 teams by sum of build up play attributes?

In [38]:
topBuildUpTeam = tbl_df(teamFinalData) %>% select(team_long_name,build_up_play) %>% top_n(10) %>% arrange(desc(build_up_play))

Selecting by build_up_play

In [39]:
head(topBuildUpTeam,n=10)

   team_long_name             build_up_play
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biała 193
5  Korona Kielce              192
6  Carpi                      190
7  Widzew Łódź                190
8  Widzew Łódź                190
9  FC Nantes                  189
10 Lazio                      188

Qn) Which are the top 10 teams by sum of chance creation attributes?

In [40]:
topChanceCreationTeam = tbl_df(teamFinalData) %>% select(team_long_name,chance_creation) %>% top_n(10) %>% arrange(desc(chance_creation))

Selecting by chance_creation

In [41]:
head(topChanceCreationTeam,n=10)

   team_long_name          chance_creation
1  Lazio                   220
2  SV Werder Bremen        216
3  Napoli                  215
4  Manchester City         210
5  Tottenham Hotspur       210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Burnley                 210
9  Swansea City            210
10 Queens Park Rangers     210

Qn) Which are the top 10 teams by sum of defense attributes?

In [42]:
topDefenseTeam = tbl_df(teamFinalData) %>% select(team_long_name,defense) %>% top_n(10) %>% arrange(desc(defense))

Selecting by defense

In [43]:
head(topDefenseTeam,n=10)

   team_long_name          defense
1  Beerschot AC            210
2  KVC Westerlo            210
3  Sporting Charleroi      210
4  West Bromwich Albion    210
5  Hull City               210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Blackpool               210
9  Swansea City            210
10 Queens Park Rangers     210

Qn) Which are the top 10 teams by number of scored goals?

In [44]:
topGoalScoringTeams = teamFinalData %>% select(team_long_name,goals) %>% top_n(10) %>% arrange(desc(goals))

Selecting by goals

In [45]:
head(topGoalScoringTeams,n=10)

   team_long_name    goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582

# References

1. https://cran.r-project.org/web/packages/dplyr/dplyr.pdf
2. https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html
3. https://cran.r-project.org/web/packages/dplyr/vignettes/two-table.html
4. https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html
5. https://blog.rstudio.org/2014/07/22/introducing-tidyr/
6. https://rpubs.com/bradleyboehmke/data_wrangling
7. https://rdrr.io/cran/dplyr/man/join.tbl_sql.html
8. http://stat545.com/bit001_dplyr-cheatsheet.html