In [113]:
library("dplyr")
library("tidyr")

In [114]:
dbName = toString("database.sqlite")

In [115]:
my_db <- src_sqlite(dbName, create = FALSE)

In [116]:
src_tbls(my_db)

[1] "Country"           "League"            "Match"
[4] "Player"            "Player_Attributes" "Team"
[7] "Team_Attributes"   "sqlite_sequence"

In [117]:
playerDF = tbl(my_db, sql("SELECT player_api_id,player_name,player_fifa_api_id FROM Player"))

In [118]:
head(playerDF)

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

  player_api_id        player_name player_fifa_api_id
          <int>              <chr>              <int>
1        505942 Aaron Appindangoye             218353
2        155782    Aaron Cresswell             189615
3        162549        Aaron Doran             186170
4         30572      Aaron Galindo             140161
5         23780       Aaron Hughes              17725
6         27316         Aaron Hunt             158138

In [119]:
playerAttrDF = tbl(my_db, sql("SELECT player_fifa_api_id,player_api_id,overall_rating,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes FROM Player_Attributes"))

In [120]:
head(playerAttrDF)

Source:   query [?? x 8]
Database: sqlite 3.11.1 [database.sqlite]

  player_fifa_api_id player_api_id overall_rating gk_diving gk_handling
               <int>         <int>          <int>     <int>       <int>
1             218353        505942             67         6          11
2             218353        505942             67         6          11
3             218353        505942             62         6          11
4             218353        505942             61         5          10
5             218353        505942             61         5          10
6             189615        155782             74        14           7
# ... with 3 more variables: gk_kicking <int>, gk_positioning <int>,
#   gk_reflexes <int>

In [121]:
playerAttrDF = mutate(playerAttrDF, gk_rating = (gk_diving + gk_handling + gk_kicking + gk_positioning + gk_reflexes))

In [122]:
playerAttrDF

Source:   query [?? x 9]
Database: sqlite 3.11.1 [database.sqlite]

   player_fifa_api_id player_api_id overall_rating gk_diving gk_handling
                <int>         <int>          <int>     <int>       <int>
1              218353        505942             67         6          11
2              218353        505942             67         6          11
3              218353        505942             62         6          11
4              218353        505942             61         5          10
5              218353        505942             61         5          10
6              189615        155782             74        14           7
7              189615        155782             74        14           7
8              189615        155782             73        14           7
9              189615        155782             73        14           7
10             189615        155782             73        14           7
# ... with more rows, and 4 more variables: gk_kicking <int>,
#   gk_positioning <int>, gk_reflexes <int>, gk_rating <int>

In [123]:
groupPlayerDF = playerAttrDF %>% 
    group_by(player_api_id) %>%
    summarize(overall_rating = max(overall_rating), gk_rating = max(gk_rating))

In [124]:
groupPlayerDF

Source:   query [?? x 3]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id overall_rating gk_rating
           <int>          <int>     <int>
1           2625             63       153
2           2752             72        53
3           2768             75       128
4           2770             74       148
5           2790             73       144
6           2796             69       340
7           2802             82       146
8           2805             76       141
9           2857             72       143
10          2862             76       146
# ... with more rows

In [126]:
playerData = left_join(playerDF, groupPlayerDF, by = "player_api_id")

In [127]:
head(playerData)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

  player_api_id        player_name player_fifa_api_id overall_rating gk_rating
          <int>              <chr>              <int>          <int>     <int>
1        505942 Aaron Appindangoye             218353             67        43
2        155782    Aaron Cresswell             189615             74       121
3        162549        Aaron Doran             186170             71       125
4         30572      Aaron Galindo             140161             75       111
5         23780       Aaron Hughes              17725             78       129
6         27316         Aaron Hunt             158138             79       132

In [128]:
playerData

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

   player_api_id        player_name player_fifa_api_id overall_rating gk_rating
           <int>              <chr>              <int>          <int>     <int>
1         505942 Aaron Appindangoye             218353             67        43
2         155782    Aaron Cresswell             189615             74       121
3         162549        Aaron Doran             186170             71       125
4          30572      Aaron Galindo             140161             75       111
5          23780       Aaron Hughes              17725             78       129
6          27316         Aaron Hunt             158138             79       132
7         564793         Aaron Kuhl             221280             61        64
8          30895       Aaron Lennon             152747             84       146
9         528212       Aaron Lennox             206592             48       237
10        101042      Aaron Meijers             188621             69        54
# ... with more rows

In [129]:
topPlayer = tbl_df(playerData) %>% select(player_name,overall_rating) %>% top_n(10) %>% arrange(desc(overall_rating))

Selecting by overall_rating

In [130]:
head(topPlayer, n = 10)

   player_name       overall_rating
1  Lionel Messi      94
2  Cristiano Ronaldo 93
3  Gianluigi Buffon  93
4  Wayne Rooney      93
5  Gregory Coupet    92
6  Xavi Hernandez    92
7  Alessandro Nesta  91
8  Andres Iniesta    91
9  Fabio Cannavaro   91
10 Iker Casillas     91

In [131]:
topGoalKeeper = tbl_df(playerData) %>% select(player_name,gk_rating) %>% top_n(10) %>% arrange(desc(gk_rating))

Selecting by gk_rating

In [132]:
head(topGoalKeeper, n = 10)

   player_name       gk_rating
1  Gianluigi Buffon  449
2  Gregory Coupet    447
3  Petr Cech         445
4  Iker Casillas     442
5  Manuel Neuer      440
6  Julio Cesar       438
7  Sebastian Frey    437
8  Edwin van der Sar 436
9  David De Gea      429
10 Pepe Reina        428

In [201]:
matchTable = tbl(my_db, sql("SELECT league_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11 FROM Match"))

In [202]:
matchDF = tbl_df(matchTable)

In [203]:
matchDataDF = gather(matchDF, players, player_api_id, home_player_1 : away_player_11)

In [204]:
head(matchDataDF)

  league_id home_team_api_id away_team_api_id home_team_goal away_team_goal
1 1          9987            9993             1              1
2 1         10000            9994             0              0
3 1          9984            8635             0              3
4 1          9991            9998             5              0
5 1          7947            9985             1              3
6 1          8203            8342             1              1
  players       player_api_id
1 home_player_1 NA
2 home_player_1 NA
3 home_player_1 NA
4 home_player_1 NA
5 home_player_1 NA
6 home_player_1 NA

In [178]:
playerMatchesDF = matchDataDF %>% 
    group_by(player_api_id) %>%
    summarize(appearances = n(),league_appearances = n_distinct(league_id))

In [179]:
head(playerMatchesDF)

  player_api_id appearances league_appearances
1 2625          90          1
2 2752          81          1
3 2768          71          1
4 2770          16          2
5 2790          50          1
6 2796           1          1

In [180]:
playerDatatemp = left_join(tbl_df(playerData), playerMatchesDF, by = "player_api_id")

In [181]:
head(playerDatatemp)

  player_api_id player_name        player_fifa_api_id overall_rating gk_rating
1 505942        Aaron Appindangoye 218353             67              43
2 155782        Aaron Cresswell    189615             74             121
3 162549        Aaron Doran        186170             71             125
4  30572        Aaron Galindo      140161             75             111
5  23780        Aaron Hughes        17725             78             129
6  27316        Aaron Hunt         158138             79             132
  appearances league_appearances
1   8         1
2  75         1
3 104         1
4  10         1
5 162         1
6 158         1

In [182]:
topAppearances = select(playerDatatemp,player_name,appearances) %>% top_n(10) %>% arrange(desc(appearances))

Selecting by appearances

In [183]:
head(topAppearances, n = 10)

   player_name          appearances
1  Steve Mandanda       300
2  Stephane Ruffier     294
3  Gorka Iraizoz Moreno 286
4  Samir Handanovic     286
5  Hugo Lloris          282
6  Tim Howard           282
7  Joe Hart             275
8  Cedric Carrasso      268
9  Daniel Congre        262
10 Moussa Sissoko       260

In [184]:
topLeagueAppearances = select(playerDatatemp,player_name,league_appearances) %>% top_n(10) %>% arrange(desc(league_appearances))

Selecting by league_appearances

In [185]:
head(topLeagueAppearances,n = 10)

   player_name           league_appearances
1  Gelson Fernandes      6
2  Filip Djuricic        5
3  Ricky van Wolfswinkel 5
4  Aleksandar Tonev      4
5  Alfred Finnbogason    4
6  Almen Abdi            4
7  Aly Cissokho          4
8  Angel Di Maria        4
9  Bojan Krkic           4
10 Bryan Ruiz            4

In [236]:
teamTable = tbl(my_db, sql("SELECT team_api_id,team_long_name FROM Team"))

In [237]:
teamTable

Source:   query [?? x 2]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id    team_long_name
         <int>             <chr>
1         9987          KRC Genk
2         9993      Beerschot AC
3        10000  SV Zulte-Waregem
4         9994  Sporting Lokeren
5         9984 KSV Cercle Brugge
6         8635    RSC Anderlecht
7         9991          KAA Gent
8         9998         RAEC Mons
9         7947     FCV Dender EH
10        9985 Standard de Liège
# ... with more rows

In [238]:
teamAttrTable = tbl(my_db, sql("SELECT team_api_id,buildUpPlaySpeed,buildUpPlayDribbling,buildUpPlayPassing,chanceCreationPassing,chanceCreationCrossing,chanceCreationShooting,defencePressure,defenceAggression,defenceTeamWidth FROM Team_Attributes"))

In [239]:
teamAttrTable = mutate(teamAttrTable, chance_creation = (chanceCreationPassing + chanceCreationCrossing + chanceCreationShooting), build_up_play =(buildUpPlaySpeed +buildUpPlayDribbling+buildUpPlayPassing), defense = (defencePressure+defenceAggression+defenceTeamWidth))

In [245]:
groupteamTable = teamAttrTable %>% 
    group_by(team_api_id) %>%
    summarize(chance_creation = max(chance_creation), build_up_play = max(build_up_play), defense = max(defense))

In [246]:
filter(groupteamTable, team_api_id==9930)

Source:   query [?? x 4]
Database: sqlite 3.11.1 [database.sqlite]

  team_api_id chance_creation build_up_play defense
        <int>           <int>         <int>   <int>
1        9930             181           156     150

In [247]:
teamData = left_join(teamTable, groupteamTable, by = "team_api_id")

In [248]:
teamData

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id    team_long_name chance_creation build_up_play defense
         <int>             <chr>           <int>         <int>   <int>
1         9987          KRC Genk             182           148     205
2         9993      Beerschot AC             185            NA     210
3        10000  SV Zulte-Waregem             153           147     200
4         9994  Sporting Lokeren             154           159     200
5         9984 KSV Cercle Brugge             200           145     195
6         8635    RSC Anderlecht             182           149     190
7         9991          KAA Gent             184           142     166
8         9998         RAEC Mons             168           160     138
9         7947     FCV Dender EH              NA            NA      NA
10        9985 Standard de Liège             182           161     205
# ... with more rows

In [249]:
topBuildUpTeam = tbl_df(teamData) %>% select(team_long_name,build_up_play) %>% top_n(10) %>% arrange(desc(build_up_play))

Selecting by build_up_play

In [250]:
head(topBuildUpTeam, n = 10)

   team_long_name             build_up_play
1  Torino                     209
2  Udinese                    205
3  Fortuna Düsseldorf         198
4  Podbeskidzie Bielsko-Biała 193
5  Korona Kielce              192
6  Carpi                      190
7  Widzew Łódź                190
8  Widzew Łódź                190
9  FC Nantes                  189
10 Lazio                      188

In [251]:
topChanceCreationTeam = tbl_df(teamData) %>% select(team_long_name,chance_creation) %>% top_n(10) %>% arrange(desc(chance_creation))

Selecting by chance_creation

In [252]:
head(topChanceCreationTeam,n=10)

   team_long_name          chance_creation
1  Lazio                   220
2  SV Werder Bremen        216
3  Napoli                  215
4  Manchester City         210
5  Tottenham Hotspur       210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Burnley                 210
9  Swansea City            210
10 Queens Park Rangers     210

In [253]:
topDefenseTeam = tbl_df(teamData) %>% select(team_long_name,defense) %>% top_n(10) %>% arrange(desc(defense))

Selecting by defense

In [254]:
head(topDefenseTeam, n = 10)

   team_long_name          defense
1  Beerschot AC            210
2  KVC Westerlo            210
3  Sporting Charleroi      210
4  West Bromwich Albion    210
5  Hull City               210
6  Birmingham City         210
7  Wolverhampton Wanderers 210
8  Blackpool               210
9  Swansea City            210
10 Queens Park Rangers     210

In [255]:
teamMatchDF = tbl_df(matchTable)

In [256]:
teamMatchDF

      league_id home_team_api_id away_team_api_id home_team_goal away_team_goal
1     1          9987             9993            1              1
2     1         10000             9994            0              0
3     1          9984             8635            0              3
4     1          9991             9998            5              0
5     1          7947             9985            1              3
6     1          8203             8342            1              1
7     1          9999             8571            2              2
8     1          4049             9996            1              2
9     1         10001             9986            1              0
10    1          8342             8571            4              1
11    1          9985             9986            1              2
12    1         10000             9991            0              2
13    1          9994             9998            0              0
14    1          7947            10001            2              2
15    1          8203             9999            1              2
16    1          9996             9984            0              1
17    1          4049             9987            1              3
18    1          9993             8635            1              3
19    1          8635             9994            2              3
20    1          9998             9996            0              0
21    1          9986             8342            2              2
22    1          9984            10000            2              0
23    1          9991             7947            1              1
24    1          9999             4049            1              2
25    1          8571             8203            0              0
26    1         10001             9987            1              0
27    1          9993             9985            1              3
28    1          8342             8635            1              1
29    1          9987             9999            1              1
30    1         10000             9993            2              2
⋮     ⋮         ⋮                ⋮                ⋮              ⋮
25950 24558      9956             7896            6              1
25951 24558     10199             9931            1              3
25952 24558     10190            10243            0              2
25953 24558      9824            10179            1              1
25954 24558     10192            10191            3              1
25955 24558      9931            10191            3              1
25956 24558     10192             7896            0              1
25957 24558     10199            10190            0              1
25958 24558     10179            10243            3              1
25959 24558      9824             9956            3              3
25960 24558      7896             9931            1              3
25961 24558     10179            10192            1              3
25962 24558     10190             9956            0              2
25963 24558     10191             9824            1              0
25964 24558     10243            10199            2              5
25965 24558      7896            10199            0              1
25966 24558      9824            10190            1              0
25967 24558     10191            10179            0              2
25968 24558      9931            10243            3              1
25969 24558      9956            10192            3              2
25970 24558      9931            10190            2              1
25971 24558     10192             9824            4              0
25972 24558     10199             9956            3              3
25973 24558     10243            10191            3              3
25974 24558     10179             7896            3              0
25975 24558     10190            10191            1              0
25976 24558      9824            10199            1              2
25977 24558      9956            10179            2              0
25978 24558      7896            10243            0              0
25979 24558     10192             9931            4              3
      home_player_1 home_player_2 home_player_3 home_player_4 home_player_5 ⋯
1     NA            NA            NA            NA            NA            ⋯
2     NA            NA            NA            NA            NA            ⋯
3     NA            NA            NA            NA            NA            ⋯
4     NA            NA            NA            NA            NA            ⋯
5     NA            NA            NA            NA            NA            ⋯
6     NA            NA            NA            NA            NA            ⋯
7     NA            NA            NA            NA            NA            ⋯
8     NA            NA            NA            NA            NA            ⋯
9     NA            NA            NA            NA            NA            ⋯
10    NA            NA            NA            NA            NA            ⋯
11    NA            NA            NA            NA            NA            ⋯
12    NA            NA            NA            NA            NA            ⋯
13    NA            NA            NA            NA            NA            ⋯
14    NA            NA            NA            NA            NA            ⋯
15    NA            NA            NA            NA            NA            ⋯
16    NA            NA            NA            NA            NA            ⋯
17    NA            NA            NA            NA            NA            ⋯
18    NA            NA            NA            NA            NA            ⋯
19    NA            NA            NA            NA            NA            ⋯
20    NA            NA            NA            NA            NA            ⋯
21    NA            NA            NA            NA            NA            ⋯
22    NA            NA            NA            NA            NA            ⋯
23    NA            NA            NA            NA            NA            ⋯
24    NA            NA            NA            NA            NA            ⋯
25    NA            NA            NA            NA            NA            ⋯
26    NA            NA            NA            NA            NA            ⋯
27    NA            NA            NA            NA            NA            ⋯
28    NA            NA            NA            NA            NA            ⋯
29    NA            NA            NA            NA            NA            ⋯
30    NA            NA            NA            NA            NA            ⋯
⋮     ⋮             ⋮             ⋮             ⋮             ⋮             ⋱
25950 157856         42258        294256        177689        513512        ⋯
25951  42276        114792        166889        150007         42294        ⋯
25952  42231         45780         95220        638592        120082        ⋯
25953  33272        214344         41621         30138        458806        ⋯
25954 274787         25843        108451         25815         94553        ⋯
25955 156175         95216        172768         30492        181211        ⋯
25956 274787        492132        108451         25815         94553        ⋯
25957  42276        114792        178119        150007         42294        ⋯
25958  10637         67349        202663         32597        114794        ⋯
25959  33272        358156         25813         41621        458806        ⋯
25960     NA        282287        173534         41415            NA        ⋯
25961  10637         67349        202663         32597        114794        ⋯
25962  42231         45780         95220        638592        120082        ⋯
25963  67311        239959        178210         67304        158253        ⋯
25964 274776        121080         34268        113235        260964        ⋯
25965     NA          8881        173534         41415        282287        ⋯
25966  33272        114735         25813         41621        458806        ⋯
25967  67311        239959        178210         67304        158253        ⋯
25968 156175         95216        172768         22834         40536        ⋯
25969 132814        274779        294256        155075         42258        ⋯
25970 156175         95216        172768         22834         30835        ⋯
25971 274787        492132        108451         25815         94553        ⋯
25972  42276         27232        178119        150007         42294        ⋯
25973 274776        451982         34268        197757        121080        ⋯
25974  10637         67349        202663         32597        114794        ⋯
25975  42231        678384         95220        638592        413155        ⋯
25976  33272         41621         25813        257845        114735        ⋯
25977 157856        274779        177689        294256         42258        ⋯
25978     NA          8881        173534         39646        282287        ⋯
25979 274787        492132        108451         25815         94553        ⋯
      away_player_2 away_player_3 away_player_4 away_player_5 away_player_6
1     NA            NA            NA            NA            NA
2     NA            NA            NA            NA            NA
3     NA            NA            NA            NA            NA
4     NA            NA            NA            NA            NA
5     NA            NA            NA            NA            NA
6     NA            NA            NA            NA            NA
7     NA            NA            NA            NA            NA
8     NA            NA            NA            NA            NA
9     NA            NA            NA            NA            NA
10    NA            NA            NA            NA            NA
11    NA            NA            NA            NA            NA
12    NA            NA            NA            NA            NA
13    NA            NA            NA            NA            NA
14    NA            NA            NA            NA            NA
15    NA            NA            NA            NA            NA
16    NA            NA            NA            NA            NA
17    NA            NA            NA            NA            NA
18    NA            NA            NA            NA            NA
19    NA            NA            NA            NA            NA
20    NA            NA            NA            NA            NA
21    NA            NA            NA            NA            NA
22    NA            NA            NA            NA            NA
23    NA            NA            NA            NA            NA
24    NA            NA            NA            NA            NA
25    NA            NA            NA            NA            NA
26    NA            NA            NA            NA            NA
27    NA            NA            NA            NA            NA
28    NA            NA            NA            NA            NA
29    NA            NA            NA            NA            NA
30    NA            NA            NA            NA            NA
⋮     ⋮             ⋮             ⋮             ⋮             ⋮
25950 282287         41415        173534            NA        393337
25951  30835        172768         22834         40536         25772
25952 121080         34268        656668        260964         67008
25953 140495        202663         32597        114794            NA
25954 239959         67304        178210        158253        186524
25955 239959        320183          8800        158253        133126
25956 282287         41415        173534        114212        491221
25957  45780        638592         95220        120082        171229
25958 121080         34268        656668        260964         92252
25959  42258        155075        177689        513512        173936
25960  30835        172768         22834        181211        339992
25961 492132        493185         25815         94553        320184
25962 274779        294256        155075        513512        173936
25963 114735        257845         41621        458806        358156
25964 114792        150007        178119         42294        185518
25965 114792        150007        178119         27232        185518
25966  67363         95220        638592        413155        143790
25967  67349        202663         32597        114794        188114
25968 121080         34268        197757        260964         92252
25969 492132        108451         25815         94553        119702
25970 678384        638592         67363        413155         45780
25971 114735         25813         41621        358156        114011
25972 274779        155075        294256         42258        173936
25973   8800        320183         67304         67389        133126
25974   8881         39646         41415        282287        491221
25975 563066          8800         67304        158253        133126
25976 114792        150007        178119         27232        570830
25977  67349        202663         32597        114794        188114
25978 121080        197757        260964        231614        113235
25979  95216        172768         22834        458806        207234
      away_player_7 away_player_8 away_player_9 away_player_10 away_player_11
1     NA            NA            NA            NA             NA
2     NA            NA            NA            NA             NA
3     NA            NA            NA            NA             NA
4     NA            NA            NA            NA             NA
5     NA            NA            NA            NA             NA
6     NA            NA            NA            NA             NA
7     NA            NA            NA            NA             NA
8     NA            NA            NA            NA             NA
9     NA            NA            NA            NA             NA
10    NA            NA            NA            NA             NA
11    NA            NA            NA            NA             NA
12    NA            NA            NA            NA             NA
13    NA            NA            NA            NA             NA
14    NA            NA            NA            NA             NA
15    NA            NA            NA            NA             NA
16    NA            NA            NA            NA             NA
17    NA            NA            NA            NA             NA
18    NA            NA            NA            NA             NA
19    NA            NA            NA            NA             NA
20    NA            NA            NA            NA             NA
21    NA            NA            NA            NA             NA
22    NA            NA            NA            NA             NA
23    NA            NA            NA            NA             NA
24    NA            NA            NA            NA             NA
25    NA            NA            NA            NA             NA
26    NA            NA            NA            NA             NA
27    NA            NA            NA            NA             NA
28    NA            NA            NA            NA             NA
29    NA            NA            NA            NA             NA
30    NA            NA            NA            NA             NA
⋮     ⋮             ⋮             ⋮             ⋮              ⋮
25950 491221          8893         67369        491794         178142
25951 207234         40274        114738         41726         527103
25952 113235         92252        198082        540230          67306
25953  67349         95230        451335        106559         275122
25954  25809        133126        520466        184610         232110
25955  25809        121115        520466        232110         289732
25956 393337          8893        186948         93229         178142
25957 308309         67333         66934        176298          35831
25958  67008        113235        108525        254704          67306
25959  39979        147959        451983         80564         289472
25960 207234         25794        176206        402975         527104
25961 598355        190525        302079         45174          37554
25962  39979        147959        451983         80564         289472
25963  56868        214344        113227        114011         209371
25964 260708        201704         95257        104646          34082
25965 260708        201704         95257        104646          34082
25966 171229         66934         92094        195215         119839
25967  25840        482200        538336         95230         275122
25968  67008        198082        108525        194532          67306
25969 320184         25860        302079         45174         422412
25970 143790         66934        176298         92094          72628
25971  42237         56868        209371        531309         113227
25972  39979        147959        451983         80564         289472
25973 186524         93223        121115         25809         289732
25974 150084          8893        140490         93229         178142
25975 186524         93223        121115        232110         289732
25976 260708        201704         36382         34082          95257
25977  25840        482200         95230        451335         275122
25978  41116        462608         42262         92252         194532
25979  25772         40274         34035         41726         527103

In [257]:
teamData

Source:   query [?? x 5]
Database: sqlite 3.11.1 [database.sqlite]

   team_api_id    team_long_name chance_creation build_up_play defense
         <int>             <chr>           <int>         <int>   <int>
1         9987          KRC Genk             182           148     205
2         9993      Beerschot AC             185            NA     210
3        10000  SV Zulte-Waregem             153           147     200
4         9994  Sporting Lokeren             154           159     200
5         9984 KSV Cercle Brugge             200           145     195
6         8635    RSC Anderlecht             182           149     190
7         9991          KAA Gent             184           142     166
8         9998         RAEC Mons             168           160     138
9         7947     FCV Dender EH              NA            NA      NA
10        9985 Standard de Liège             182           161     205
# ... with more rows

In [258]:
teamMatchDataDF = gather(teamMatchDF, team, team_api_id, home_team_api_id,away_team_api_id)

In [259]:
teamMatchDataDF

      league_id home_team_goal away_team_goal home_player_1 home_player_2
1     1         1              1              NA            NA
2     1         0              0              NA            NA
3     1         0              3              NA            NA
4     1         5              0              NA            NA
5     1         1              3              NA            NA
6     1         1              1              NA            NA
7     1         2              2              NA            NA
8     1         1              2              NA            NA
9     1         1              0              NA            NA
10    1         4              1              NA            NA
11    1         1              2              NA            NA
12    1         0              2              NA            NA
13    1         0              0              NA            NA
14    1         2              2              NA            NA
15    1         1              2              NA            NA
16    1         0              1              NA            NA
17    1         1              3              NA            NA
18    1         1              3              NA            NA
19    1         2              3              NA            NA
20    1         0              0              NA            NA
21    1         2              2              NA            NA
22    1         2              0              NA            NA
23    1         1              1              NA            NA
24    1         1              2              NA            NA
25    1         0              0              NA            NA
26    1         1              0              NA            NA
27    1         1              3              NA            NA
28    1         1              1              NA            NA
29    1         1              1              NA            NA
30    1         2              2              NA            NA
⋮     ⋮         ⋮              ⋮              ⋮             ⋮
51929 24558     6              1              157856         42258
51930 24558     1              3               42276        114792
51931 24558     0              2               42231         45780
51932 24558     1              1               33272        214344
51933 24558     3              1              274787         25843
51934 24558     3              1              156175         95216
51935 24558     0              1              274787        492132
51936 24558     0              1               42276        114792
51937 24558     3              1               10637         67349
51938 24558     3              3               33272        358156
51939 24558     1              3                  NA        282287
51940 24558     1              3               10637         67349
51941 24558     0              2               42231         45780
51942 24558     1              0               67311        239959
51943 24558     2              5              274776        121080
51944 24558     0              1                  NA          8881
51945 24558     1              0               33272        114735
51946 24558     0              2               67311        239959
51947 24558     3              1              156175         95216
51948 24558     3              2              132814        274779
51949 24558     2              1              156175         95216
51950 24558     4              0              274787        492132
51951 24558     3              3               42276         27232
51952 24558     3              3              274776        451982
51953 24558     3              0               10637         67349
51954 24558     1              0               42231        678384
51955 24558     1              2               33272         41621
51956 24558     2              0              157856        274779
51957 24558     0              0                  NA          8881
51958 24558     4              3              274787        492132
      home_player_3 home_player_4 home_player_5 home_player_6 home_player_7 ⋯
1     NA            NA            NA            NA            NA            ⋯
2     NA            NA            NA            NA            NA            ⋯
3     NA            NA            NA            NA            NA            ⋯
4     NA            NA            NA            NA            NA            ⋯
5     NA            NA            NA            NA            NA            ⋯
6     NA            NA            NA            NA            NA            ⋯
7     NA            NA            NA            NA            NA            ⋯
8     NA            NA            NA            NA            NA            ⋯
9     NA            NA            NA            NA            NA            ⋯
10    NA            NA            NA            NA            NA            ⋯
11    NA            NA            NA            NA            NA            ⋯
12    NA            NA            NA            NA            NA            ⋯
13    NA            NA            NA            NA            NA            ⋯
14    NA            NA            NA            NA            NA            ⋯
15    NA            NA            NA            NA            NA            ⋯
16    NA            NA            NA            NA            NA            ⋯
17    NA            NA            NA            NA            NA            ⋯
18    NA            NA            NA            NA            NA            ⋯
19    NA            NA            NA            NA            NA            ⋯
20    NA            NA            NA            NA            NA            ⋯
21    NA            NA            NA            NA            NA            ⋯
22    NA            NA            NA            NA            NA            ⋯
23    NA            NA            NA            NA            NA            ⋯
24    NA            NA            NA            NA            NA            ⋯
25    NA            NA            NA            NA            NA            ⋯
26    NA            NA            NA            NA            NA            ⋯
27    NA            NA            NA            NA            NA            ⋯
28    NA            NA            NA            NA            NA            ⋯
29    NA            NA            NA            NA            NA            ⋯
30    NA            NA            NA            NA            NA            ⋯
⋮     ⋮             ⋮             ⋮             ⋮             ⋮             ⋱
51929 294256        177689        513512        173936         39979        ⋯
51930 166889        150007         42294        570830        260708        ⋯
51931  95220        638592        120082        119839        171229        ⋯
51932  41621         30138        458806         42237         56868        ⋯
51933 108451         25815         94553        119702        320184        ⋯
51934 172768         30492        181211        339992        207234        ⋯
51935 108451         25815         94553        119702        190525        ⋯
51936 178119        150007         42294        185518        260708        ⋯
51937 202663         32597        114794         25840        535957        ⋯
51938  25813         41621        458806        214344         42237        ⋯
51939 173534         41415            NA        491221        393337        ⋯
51940 202663         32597        114794        188114         25840        ⋯
51941  95220        638592        120082        171229        308309        ⋯
51942 178210         67304        158253        133126        520466        ⋯
51943  34268        113235        260964         67008         92252        ⋯
51944 173534         41415        282287        491221        393337        ⋯
51945  25813         41621        458806         42237         56868        ⋯
51946 178210         67304        158253        186524         93223        ⋯
51947 172768         22834         40536        207234        114738        ⋯
51948 294256        155075         42258        173936         39979        ⋯
51949 172768         22834         30835        339992        114738        ⋯
51950 108451         25815         94553        384376        598355        ⋯
51951 178119        150007         42294         73977        114792        ⋯
51952  34268        197757        121080        462608         67008        ⋯
51953 202663         32597        114794        188114         25840        ⋯
51954  95220        638592        413155         45780        171229        ⋯
51955  25813        257845        114735         42237        113227        ⋯
51956 177689        294256         42258         39979        173936        ⋯
51957 173534         39646        282287        340790        393337        ⋯
51958 108451         25815         94553        384376        598355        ⋯
      away_player_4 away_player_5 away_player_6 away_player_7 away_player_8
1     NA            NA            NA            NA            NA
2     NA            NA            NA            NA            NA
3     NA            NA            NA            NA            NA
4     NA            NA            NA            NA            NA
5     NA            NA            NA            NA            NA
6     NA            NA            NA            NA            NA
7     NA            NA            NA            NA            NA
8     NA            NA            NA            NA            NA
9     NA            NA            NA            NA            NA
10    NA            NA            NA            NA            NA
11    NA            NA            NA            NA            NA
12    NA            NA            NA            NA            NA
13    NA            NA            NA            NA            NA
14    NA            NA            NA            NA            NA
15    NA            NA            NA            NA            NA
16    NA            NA            NA            NA            NA
17    NA            NA            NA            NA            NA
18    NA            NA            NA            NA            NA
19    NA            NA            NA            NA            NA
20    NA            NA            NA            NA            NA
21    NA            NA            NA            NA            NA
22    NA            NA            NA            NA            NA
23    NA            NA            NA            NA            NA
24    NA            NA            NA            NA            NA
25    NA            NA            NA            NA            NA
26    NA            NA            NA            NA            NA
27    NA            NA            NA            NA            NA
28    NA            NA            NA            NA            NA
29    NA            NA            NA            NA            NA
30    NA            NA            NA            NA            NA
⋮     ⋮             ⋮             ⋮             ⋮             ⋮
51929 173534            NA        393337        491221          8893
51930  22834         40536         25772        207234         40274
51931 656668        260964         67008        113235         92252
51932  32597        114794            NA         67349         95230
51933 178210        158253        186524         25809        133126
51934   8800        158253        133126         25809        121115
51935 173534        114212        491221        393337          8893
51936  95220        120082        171229        308309         67333
51937 656668        260964         92252         67008        113235
51938 177689        513512        173936         39979        147959
51939  22834        181211        339992        207234         25794
51940  25815         94553        320184        598355        190525
51941 155075        513512        173936         39979        147959
51942  41621        458806        358156         56868        214344
51943 178119         42294        185518        260708        201704
51944 178119         27232        185518        260708        201704
51945 638592        413155        143790        171229         66934
51946  32597        114794        188114         25840        482200
51947 197757        260964         92252         67008        198082
51948  25815         94553        119702        320184         25860
51949  67363        413155         45780        143790         66934
51950  41621        358156        114011         42237         56868
51951 294256         42258        173936         39979        147959
51952  67304         67389        133126        186524         93223
51953  41415        282287        491221        150084          8893
51954  67304        158253        133126        186524         93223
51955 178119         27232        570830        260708        201704
51956  32597        114794        188114         25840        482200
51957 260964        231614        113235         41116        462608
51958  22834        458806        207234         25772         40274
      away_player_9 away_player_10 away_player_11 team             team_api_id
1     NA            NA             NA             home_team_api_id  9987
2     NA            NA             NA             home_team_api_id 10000
3     NA            NA             NA             home_team_api_id  9984
4     NA            NA             NA             home_team_api_id  9991
5     NA            NA             NA             home_team_api_id  7947
6     NA            NA             NA             home_team_api_id  8203
7     NA            NA             NA             home_team_api_id  9999
8     NA            NA             NA             home_team_api_id  4049
9     NA            NA             NA             home_team_api_id 10001
10    NA            NA             NA             home_team_api_id  8342
11    NA            NA             NA             home_team_api_id  9985
12    NA            NA             NA             home_team_api_id 10000
13    NA            NA             NA             home_team_api_id  9994
14    NA            NA             NA             home_team_api_id  7947
15    NA            NA             NA             home_team_api_id  8203
16    NA            NA             NA             home_team_api_id  9996
17    NA            NA             NA             home_team_api_id  4049
18    NA            NA             NA             home_team_api_id  9993
19    NA            NA             NA             home_team_api_id  8635
20    NA            NA             NA             home_team_api_id  9998
21    NA            NA             NA             home_team_api_id  9986
22    NA            NA             NA             home_team_api_id  9984
23    NA            NA             NA             home_team_api_id  9991
24    NA            NA             NA             home_team_api_id  9999
25    NA            NA             NA             home_team_api_id  8571
26    NA            NA             NA             home_team_api_id 10001
27    NA            NA             NA             home_team_api_id  9993
28    NA            NA             NA             home_team_api_id  8342
29    NA            NA             NA             home_team_api_id  9987
30    NA            NA             NA             home_team_api_id 10000
⋮     ⋮             ⋮              ⋮              ⋮                ⋮
51929  67369        491794         178142         away_team_api_id  7896
51930 114738         41726         527103         away_team_api_id  9931
51931 198082        540230          67306         away_team_api_id 10243
51932 451335        106559         275122         away_team_api_id 10179
51933 520466        184610         232110         away_team_api_id 10191
51934 520466        232110         289732         away_team_api_id 10191
51935 186948         93229         178142         away_team_api_id  7896
51936  66934        176298          35831         away_team_api_id 10190
51937 108525        254704          67306         away_team_api_id 10243
51938 451983         80564         289472         away_team_api_id  9956
51939 176206        402975         527104         away_team_api_id  9931
51940 302079         45174          37554         away_team_api_id 10192
51941 451983         80564         289472         away_team_api_id  9956
51942 113227        114011         209371         away_team_api_id  9824
51943  95257        104646          34082         away_team_api_id 10199
51944  95257        104646          34082         away_team_api_id 10199
51945  92094        195215         119839         away_team_api_id 10190
51946 538336         95230         275122         away_team_api_id 10179
51947 108525        194532          67306         away_team_api_id 10243
51948 302079         45174         422412         away_team_api_id 10192
51949 176298         92094          72628         away_team_api_id 10190
51950 209371        531309         113227         away_team_api_id  9824
51951 451983         80564         289472         away_team_api_id  9956
51952 121115         25809         289732         away_team_api_id 10191
51953 140490         93229         178142         away_team_api_id  7896
51954 121115        232110         289732         away_team_api_id 10191
51955  36382         34082          95257         away_team_api_id 10199
51956  95230        451335         275122         away_team_api_id 10179
51957  42262         92252         194532         away_team_api_id 10243
51958  34035         41726         527103         away_team_api_id  9931

In [265]:
homeTeamGoalDF = gather(teamMatchDF, team, team_api_id, home_team_api_id)

In [267]:
homeTeamGoals = homeTeamGoalDF %>% 
    group_by(team_api_id) %>%
    summarize(homeGoals = sum(home_team_goal))

In [268]:
head(homeTeamGoals,n =10)

   team_api_id homeGoals
1  1601        148
2  1773         74
3  1957        176
4  2033         70
5  2182        215
6  2183         96
7  2186        144
8  4049         22
9  4064         13
10 4087        105

In [269]:
awayTeamGoalDF = gather(teamMatchDF, team, team_api_id, away_team_api_id)

In [270]:
awayTeamGoals = awayTeamGoalDF %>% 
    group_by(team_api_id) %>%
    summarize(awayGoals = sum(away_team_goal))

In [271]:
head(awayTeamGoals,n=10)

   team_api_id awayGoals
1  1601        132
2  1773         52
3  1957        111
4  2033         68
5  2182        157
6  2183         88
7  2186         91
8  4049         13
9  4064         14
10 4087         75

In [272]:
teamGoalsData = full_join(awayTeamGoals,homeTeamGoals) %>%  mutate(goals = (awayGoals+homeGoals))

Joining, by = "team_api_id"

In [273]:
head(teamGoalsData,n=10)

   team_api_id awayGoals homeGoals goals
1  1601        132       148       280
2  1773         52        74       126
3  1957        111       176       287
4  2033         68        70       138
5  2182        157       215       372
6  2183         88        96       184
7  2186         91       144       235
8  4049         13        22        35
9  4064         14        13        27
10 4087         75       105       180

In [274]:
teamData = left_join(tbl_df(teamData),teamGoalsData,by = "team_api_id")

In [275]:
head(teamData,n=10)

   team_api_id team_long_name    chance_creation build_up_play defense
1   9987       KRC Genk          182             148           205
2   9993       Beerschot AC      185              NA           210
3  10000       SV Zulte-Waregem  153             147           200
4   9994       Sporting Lokeren  154             159           200
5   9984       KSV Cercle Brugge 200             145           195
6   8635       RSC Anderlecht    182             149           190
7   9991       KAA Gent          184             142           166
8   9998       RAEC Mons         168             160           138
9   7947       FCV Dender EH      NA              NA            NA
10  9985       Standard de Liège 182             161           205
   awayGoals homeGoals goals
1  143       205       348
2   62       112       174
3  130       176       306
4  130       149       279
5   94       119       213
6  180       247       427
7  177       213       390
8   53        76       129
9   23        21        44
10 142       199       341

In [276]:
topGoalScoringTeams = teamData %>% select(team_long_name,goals) %>% top_n(10) %>% arrange(desc(goals))

Selecting by goals

In [277]:
head(topGoalScoringTeams,n=10)

   team_long_name    goals
1  FC Barcelona      849
2  Real Madrid CF    843
3  Celtic            695
4  FC Bayern Munich  653
5  PSV               652
6  Ajax              647
7  FC Basel          619
8  Manchester City   606
9  Chelsea           583
10 Manchester United 582